html {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

*::-moz-selection {
	background-color: rgba(0, 0, 0, 0.6);
	color: white;
}

*::selection {
	background-color: rgba(0, 0, 0, 0.6);
	color: white;
}

body {
	margin: 0;
	height: 100vh;
	min-height: 650px;
	font-family: 'Nanum Gothic', sans-serif;
}

#container-countdown {
	margin: 20px auto;
	padding: 20px 50px;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	border-radius: 20px;
	background-color: rgb(128, 128, 128, 0.2);
}

#countdown {
	margin: 20px;
	font-size: 60px;
	color: #ffffff;
	padding: 30px;
	white-space: pre-wrap;
}

.container-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

#play,
#back {
	width: 50px;
	height: 50px;
	margin: 10px;
	padding: 0;
	border: none;
	background-color: transparent;
	cursor: pointer;
}

#play img,
#back img {
	width: 100%;
}

#bgVideo {
	position: fixed;
	min-width: 100%;
	min-height: 100%;
	top: 0;
	left: 50%;
	-webkit-transform: translate3d(-50%, 0, 0);
	        transform: translate3d(-50%, 0, 0);
	z-index: -100;
}

@media all and (max-width:500px) {

	body {
		min-height: 500px;
	}

	#container-countdown {
		padding: 10px;
	}

	#countdown {
		margin: 20px;
		font-size: 60px;
		padding: 10px;
	}

	#play,
	#back {
		width: 50px;
		height: 50px;
		margin: 10px 15px;
	}
}